@page
@model DotgetPredavanje2.Pages.User.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ProfilePicture" class="control-label"></label>
                <input asp-for="User.ProfilePicture" class="form-control" />
                <span asp-validation-for="User.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.InstructionsCount" class="control-label"></label>
                <input asp-for="User.InstructionsCount" class="form-control" />
                <span asp-validation-for="User.InstructionsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Subjects" class="control-label"></label>
                <input asp-for="User.Subjects" class="form-control" />
                <span asp-validation-for="User.Subjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

